In [1]:
import numpy as np

docs = ['go india',
		'india india',
		'hip hip hurray',
		'jeetega bhai jeetega india jeetega',
		'bharat mata ki jai',
		'kohli kohli',
		'sachin sachin',
		'dhoni dhoni',
		'modi ji ki jai',
		'inquilab zindabad']

In [2]:
from keras.preprocessing.text import Tokenizer

In [3]:
tokenizer = Tokenizer(oov_token='nothing')

In [4]:
tokenizer.fit_on_texts(docs)

In [5]:
tokenizer.word_index

{'nothing': 1,
 'india': 2,
 'jeetega': 3,
 'hip': 4,
 'ki': 5,
 'jai': 6,
 'kohli': 7,
 'sachin': 8,
 'dhoni': 9,
 'go': 10,
 'hurray': 11,
 'bhai': 12,
 'bharat': 13,
 'mata': 14,
 'modi': 15,
 'ji': 16,
 'inquilab': 17,
 'zindabad': 18}

In [6]:
tokenizer.document_count

10

In [7]:
sequence = tokenizer.texts_to_sequences(docs)

In [8]:
sequence

[[10, 2],
 [2, 2],
 [4, 4, 11],
 [3, 12, 3, 2, 3],
 [13, 14, 5, 6],
 [7, 7],
 [8, 8],
 [9, 9],
 [15, 16, 5, 6],
 [17, 18]]

In [9]:
from keras.utils import pad_sequences

In [10]:
sequences = pad_sequences(sequence, padding='post')

In [11]:
sequences

array([[10,  2,  0,  0,  0],
       [ 2,  2,  0,  0,  0],
       [ 4,  4, 11,  0,  0],
       [ 3, 12,  3,  2,  3],
       [13, 14,  5,  6,  0],
       [ 7,  7,  0,  0,  0],
       [ 8,  8,  0,  0,  0],
       [ 9,  9,  0,  0,  0],
       [15, 16,  5,  6,  0],
       [17, 18,  0,  0,  0]], dtype=int32)

In [12]:
from keras.datasets import imdb

In [13]:
(X_train, y_train), (X_test, y_test) = imdb.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17464789/17464789 [==============================] - 1s 0us/step

In [14]:
X_train[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 22665,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 21631,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 19193,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 10311,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 31050,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 12118,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [15]:
X_train = pad_sequences(X_train, padding='post', maxlen=50)
X_test = pad_sequences(X_test, padding='post', maxlen=50)

In [17]:
from keras.datasets import imdb
from keras import Sequential
from keras.layers import Dense,SimpleRNN,Embedding,Flatten
model = Sequential()
model.add(SimpleRNN(32, input_shape=(50, 1), return_sequences=False))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_1 (SimpleRNN)    (None, 32)                1088

 dense (Dense)               (None, 1)                 33

=================================================================
Total params: 1121 (4.38 KB)
Trainable params: 1121 (4.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

Epoch 1/10
782/782 [==============================] - 12s 14ms/step - loss: 0.6970 - accuracy: 0.5062 - val_loss: 0.6963 - val_accuracy: 0.4995
Epoch 2/10
782/782 [==============================] - 10s 13ms/step - loss: 0.6935 - accuracy: 0.5062 - val_loss: 0.6940 - val_accuracy: 0.5018
Epoch 3/10
782/782 [==============================] - 10s 13ms/step - loss: 0.6932 - accuracy: 0.5072 - val_loss: 0.6955 - val_accuracy: 0.5022
Epoch 4/10
782/782 [==============================] - 10s 12ms/step - loss: 0.6934 - accuracy: 0.5019 - val_loss: 0.6954 - val_accuracy: 0.5066
Epoch 5/10
782/782 [==============================] - 10s 12ms/step - loss: 0.6927 - accuracy: 0.5088 - val_loss: 0.6960 - val_accuracy: 0.5023
Epoch 6/10
782/782 [==============================] - 11s 14ms/step - loss: 0.6933 - accuracy: 0.5062 - val_loss: 0.6944 - val_accuracy: 0.5022
Epoch 7/10
782/782 [==============================] - 10s 13ms/step - loss: 0.6930 - accuracy: 0.5040 - val_loss: 0.6931 - val_accuracy: 0.5058
Epoch 8/10
782/782 [==============================] - 14s 18ms/step - loss: 0.6929 - accuracy: 0.5068 - val_loss: 0.6945 - val_accuracy: 0.5012
Epoch 9/10
782/782 [==============================] - 11s 14ms/step - loss: 0.6927 - accuracy: 0.5097 - val_loss: 0.6948 - val_accuracy: 0.5062
Epoch 10/10
782/782 [==============================] - 10s 12ms/step - loss: 0.6923 - accuracy: 0.5146 - val_loss: 0.6937 - val_accuracy: 0.5078