In [1]:
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, train_test_split

In [3]:
data = pd.read_csv("./diabetes.csv")

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
X = data.drop(columns='Outcome');
y = data['Outcome']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=123)

In [9]:
from sklearn.tree import DecisionTreeClassifier


scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=5)

In [10]:
scores.mean()

0.707138613020966

In [11]:
from sklearn.ensemble import BaggingClassifier


model_bagging = BaggingClassifier(
    estimator=DecisionTreeClassifier(criterion='log_loss'),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
).fit(X_train, y_train)

In [12]:
model_bagging.score(X_test, y_test)

0.7792207792207793

In [13]:
model_bagging = BaggingClassifier(
    estimator=DecisionTreeClassifier(criterion='log_loss'),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
).fit(X_train, y_train)

scores = cross_val_score(model_bagging, X, y, cv=5)

In [14]:
scores

array([0.74675325, 0.75324675, 0.75974026, 0.84313725, 0.74509804])

In [15]:
scores.mean()

0.7695951107715814

### Exercies

In [16]:
data = pd.read_csv('./heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [17]:
data.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [18]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [19]:
data.shape

(918, 12)

In [20]:
data[data['Age'] > (data['Age'].mean()+3*data['Age'].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [21]:
for i in data.columns:
    if data[i].dtype != 'object':
        data = data[data[i] <= (data[i].mean() + 3 * data[i].std())]

data.shape

(902, 12)

In [22]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [23]:
data['ST_Slope'].value_counts()

ST_Slope
Flat    452
Up      393
Down     57
Name: count, dtype: int64

In [24]:
data['ChestPainType'] = data['ChestPainType'].map({'ASY':0, 'NAP':1, 'ATA':2, 'TA':3})
data['RestingECG'] = data['RestingECG'].map({'Normal':0, 'LVH':1, 'ST':2})
data['ExerciseAngina'] = data['ExerciseAngina'].map({'N':0, 'Y':1})
data['ST_Slope'] = data['ST_Slope'].map({'Flat':0, 'Up':1, 'Down':2})

In [25]:
data['Sex'] = data['Sex'].map({'M':0, 'F':1})

In [26]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,0,172,0,0.0,1,0
1,49,1,1,160,180,0,0,156,0,1.0,0,1
2,37,0,2,130,283,0,2,98,0,0.0,1,0
3,48,1,0,138,214,0,0,108,1,1.5,0,1
4,54,0,1,150,195,0,0,122,0,0.0,1,0

In [27]:
data['HeartDisease'].value_counts()

HeartDisease
1    495
0    407
Name: count, dtype: int64

In [28]:
X = data.drop(columns='HeartDisease')
y = data['HeartDisease']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=123)

In [30]:
from sklearn.svm import SVC

In [31]:
svc = SVC(C=20, kernel='linear').fit(X_train, y_train)
svc.score(X_test, y_test)

0.8453038674033149

In [32]:
scores = cross_val_score(SVC(C=23, kernel='linear'), X, y, cv=5)

In [33]:
scores

array([0.82872928, 0.82872928, 0.78888889, 0.83333333, 0.78333333])

In [34]:
bag_model = BaggingClassifier(
    estimator=DecisionTreeClassifier(criterion='log_loss'),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
).fit(X_train, y_train)

In [35]:
bag_model.score(X_test, y_test)

0.8674033149171271

In [36]:
bag_model = BaggingClassifier(
    estimator=SVC(C=25, kernel='linear'),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
).fit(X_train, y_train)

In [37]:
bag_model.score(X_test, y_test)

0.856353591160221